<!DOCTYPE html>
<html>
<head>
    <title>Car Details Form</title>
</head>
<body>
    <h1>Car Details Form</h1>
    <form action="/submit" method="POST" enctype="multipart/form-data">
        <label for="Carname">Car Name:</label>
        <input type="text" id="Carname" name="Carname"><br><br>
        <label for="Cardetails">Car Details:</label>
        <textarea id="Cardetails" name="Cardetails"></textarea><br><br>
        <label for="Carimg">Car Image:</label>
        <input type="file" id="Carimg" name="Carimg"><br><br>
        <label for="Cartype">Cartype:</label>
        <input type="text" id="Cartype" name="Cartype"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>

</html>