<!DOCTYPE html>
<html>
    <head>
        <title>Jks automotives</title>
        <meta charset="utf-8">
        <meta name="author" "coxEndere">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://use.fontawesome.com/0bd7229511.js"></script>
        <link rel="stylesheet" href="../static/style.css">
        <link rel= "stylesheet" href= "https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" >
    </head>
    <body>
     <div class="container-fluid">
        <div class="col-sm-3">
            <img src="../static/images/AUTOMOTIVES.png" style="width: 15rem;">
            <p class="title1">Jks Automotives</p>
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <form>
                    <div class="search-bar">
                      <input type="search" id="search-input" placeholder="Search...">
                      <button type="submit">Search</button>
                    </div>
                    <div class="advanced-search">
                      <h2>Advanced Search</h2>
                      <div class="row">
                        <label for="category">Category:</label>
                        <select id="category">
                          <option value="">All</option>
                          <option value="off-road">off-road</option>
                          <option value="sedans">sedans</option>
                          <option value="Sport-cars">Sportcars</option>
                          <option value="Used-cars">Usedcars</option>
                          <option value="Direct-import">Foreign</option>
                        </select>
                      </div>
                      <div class="row">
                        <label for="brand">car brand</label>
                        <input type="text" id="brand" placeholder="Enter a brand name  ....">
                      </div>
                    </div>
                </form>
        </div>
        <div class="col-sm-9">
            <div class="row justify-content-center">
                <!-- Card 1: Featured Vehicle -->
                <div class="col-sm-4 mb-4">
                    <div class="card">
                    <img src="../static/images/offroad-4014070_1280.jpg" alt="Featured Vehicle">
                    <h2>Available cars</h2>
                    <p>Quality offroad vehicles withstanding harshfull terrains</p>
                    <p></p>
                    <p></p>
                    <a >
                        <button data-bs-toggle="modal" data-bs-target="#addtocartmodal" name="nissan">
                            add to cart 
                        </button>
                    </a>
                
                </div>
               
                </div>    
     </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> 
    </body>
</html>